# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

server_pose_estimation/firebase_cloud_messaging/
server_pose_estimation/fine_tuning/dataset/
server_pose_estimation/fine_tuning/runs/
*.pt

.DS_Store